.input-narrow {
    width: calc(100% / 12);
  }

  .Card {
    cursor: pointer;
  }
  
  .selected {
    background-color: #007bff;
    color: #007bff;
    box-shadow: 0 4px 8px rgba(161, 33, 33, 0.753);
  }
  
  